/*----------------------------------
  text styles
----------------------------------*/
/*------headers and paragraphs----*/

/*------ul and li-----------------*/
.no-list-style{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*----------------------------------
  colors
----------------------------------*/
/*-----------text-----------------*/
.teal-text{
    color: #48C0BF;
}
/*--------background--------------*/
.teal-background{
    background-color: #48C0BF;
}
.dark-gray-background{
    background-color: #4b4b4b;
}

/*----------------------------------
   positioning
----------------------------------*/
/*-----------margin---------------*/

/*----------padding---------------*/

/*----------------------------------
  display
----------------------------------*/
.dynamic-content {
    display:none;
}

/*----------------------------------
   other TODO
----------------------------------*/
/*----------------------------------
   other TODO
----------------------------------*/

