
/*----------------------------------
   normalization
----------------------------------*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
/*----------------------------------
   own grid
----------------------------------*/
.grid{

}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    float: left;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}

[class*='col-'] {
    padding-right: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
.grid-pad {
    padding: 20px 0 20px 20px;
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}

/*----------------------------------
  text styles
----------------------------------*/
/*------headers and paragraphs----*/
.pacifico{
font-family: 'Pacifico', cursive;
}
.satisfy{
font-family: 'Satisfy', cursive;
}
.shadows  {
font-family: 'Shadows Into Light Two', cursive;
}
.patrick  {
font-family: 'Patrick Hand', cursive;
}
.sue  {
font-family: 'Sue Ellen Francisco', cursive;
}
.abril  {
font-family: 'Abril Fatface', cursive;
}
.lobster  {
font-family: 'Lobster', cursive;
}
.gravitas  {
font-family: 'Gravitas One', cursive;
}
.lilitha  {
font-family: 'Lilita One', cursive;
}
.josefin  {
font-family: 'Josefin Slab', serif;
}
.vidloka  {
font-family: 'Vidaloka', serif;
}
.open  {
font-family: 'Open Sans Condensed', sans-serif;
}
.size14px{
    font-size: 14px;
   }
.size60px{
       font: 60px;
   }

/*------ul and li-----------------*/
.no-list-style{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*----------------------------------
  colors
----------------------------------*/
/*-----------text-----------------*/
.teal-text{
    color: #48C0BF;
}
/*--------background--------------*/
.teal-background{
    background-color: #48C0BF;
}
.dark-gray-background{
    background-color: #4b4b4b;
}

/*----------------------------------
   positioning
----------------------------------*/
/*-----------margin---------------*/

/*----------padding---------------*/

/*----------------------------------
  display
----------------------------------*/
.dynamic-content {
    display:none;
}


/*----------------------------------
   other TODO
----------------------------------*/

