
/*----------------------------------
   normalization
----------------------------------*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
/*----------------------------------
   own grid
----------------------------------*/
.grid{

}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    float: left;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}
.col-1-2 {
    width: 50%;
}
[class*='col-'] {
    padding-right: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
.grid-pad {
    padding: 20px 0 20px 20px;
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}

/*----------------------------------
  text styles
----------------------------------*/
/*------headers and paragraphs----*/
body{
    font-family: 'Open Sans Condensed', sans-serif;

}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: #4b4b4b;
}
h2{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
}
h3{
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
}
h3 span{
    font-family: 'Patrick Hand', cursive;
}
h4{
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}
p{
    font-family: 'Open Sans Condensed', sans-serif;
}

.satisfy{
    font-family: 'Satisfy', cursive;
}
.shadows  {
    font-family: 'Shadows Into Light Two', cursive;
}
.patrick  {
    font-family: 'Patrick Hand', cursive;
}
.sue  {
    font-family: 'Sue Ellen Francisco', cursive;
}

.open  {
    font-family: 'Open Sans Condensed', sans-serif;
}
.itim{

    font-family: 'Itim', cursive;
}
.comingsoon{
    font-family: 'Coming Soon', cursive;
}


/*------ul and li-----------------*/
.no-list-style{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*----------------------------------
  colors
----------------------------------*/
/*-----------text-----------------*/
.teal-text{
    color: #48C0BF;
}
/*--------background--------------*/
.teal-background{
    background-color: #48C0BF;
}
.dark-gray-background{
    background-color: #4b4b4b;
}

/*----------------------------------
   positioning
----------------------------------*/
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}
/*-----------margin---------------*/
.margin-left-neg40{
    margin-left:-120px;
}

/*----------padding---------------*/
.padding-left-30px{
    padding-left:30px;
}
/*----------------------------------
  display
----------------------------------*/
.dynamic-content {
    display:none;
}
/*----------------------------------
   Navigation
----------------------------------*/
.navigation{
    position: fixed;
    display: block;
    height: 100%;
    margin-right: 10px;
    padding: 100px;
}
.content{
    position: relative;
    left:33.33%;
}
/*----------------------------------
   Case Study
----------------------------------*/
.case-study{
    border-top:1px solid #48C0BF;
    padding: 20px 0px 20px 40px;
}
.case-study__content__summary{
    width: 80%;
}
.case-study__content__images .col-1-3 img{
    max-width: 200px;
}
.case-study__content__images .col-2-3 img{
    max-width: 500px;
}
.specs__teammate__picture img {
    max-width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}